<div class="virtual-tour overflow-hidden h-screen w-full"></div>

<div id="panel">
  <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7 text-gray-500 dark:text-gray-400 mb-3" aria-hidden="true" fill="currentColor" viewBox="0 0 448 512">
      <path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM192 256h48c17.7 0 32-14.3 32-32s-14.3-32-32-32H192v64zm48 64H192v32c0 17.7-14.3 32-32 32s-32-14.3-32-32V288 168c0-22.1 17.9-40 40-40h72c53 0 96 43 96 96s-43 96-96 96z"/>
    </svg>
    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Lahan Parkir</h5>
    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Ini merupakan lahan parkir untuk karyawan Padepokan79 maupun tamu yang diundang</p>
  </div>
</div>

<div id="gerbang">
  <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Gerbang Depan Padepokan79</h5>
    </a>
    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Ini adalah gerbang pembatas Padepokan79, setelah anda melewati gerbang ini, anda memasuki kawasan Padepokan79</p>
    <a href="#" class="inline-flex font-medium items-center text-blue-600 hover:underline">
        See our guideline
        <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
        </svg>
    </a>
  </div>
</div>

<div id="taman">
  <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Ruang Tunggu</h5>
    </a>
    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Ini adalah ruang tunggu untuk tamu Padepokan79</p>
    <a href="#" class="inline-flex font-medium items-center text-blue-600 hover:underline">
        See our guideline
        <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
        </svg>
    </a>
  </div>
</div>

